body {
    margin: 0;
}
.header {
    display: flex ;
    justify-content: space-between ;
    background-color: #1F2937;
    padding: 30px ;
    padding-left: 250px ;
    padding-right: 250px ;
    margin: 0px ; 
    align-items: center ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.main-links {
    display: flex;
    gap: 40px ; 
    color: #E5E7EB ;
    font-size: 18px ;
    /* font-family: ; */
    font-family: 'Lato', sans-serif ;
}

.logo {
    color: #F9FAF8 ; 
    font-size: 48px ;
    font-weight:900 ;
    font-family: 'Prata', serif;
}