body {
    margin: 0;
}

/* TOP BAR */
.header {
    display: flex ;
    justify-content: space-between ;
    background-color: #1F2937;
    padding: 30px ;
    padding-left: 250px ;
    padding-right: 250px ;
    margin: 0px ; 
    align-items: center ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.logo {
    color: #F9FAF8 ; 
    font-size: 24px ;
    font-weight:900 ;
    font-family: 'Prata', serif;
}

.main-links {
    display: flex;
    gap: 40px ; 
    font-size: 18px ;
    font-family: 'Lato', sans-serif ;
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none ;
    color: #E5E7EB ; 
}


/* FIRST CONTENT */
.first-content {
    padding: 100px ; 
    padding-left: 250px ;
    padding-right: 250px ;
    display: flex ; 
    background-color: #1F2937 ; 
    gap: 150px ;
    justify-content: space-between;
}

.main-heading {
    color : #F9FAF8 ; 
    font-size: 48px ; 
    font-weight: 900 ;
    font-family: 'Prata', serif;
    margin-bottom: 10px ;
}

.first-content img {
    width: 600px ; 
}
.sub-text,
.extra {
    font-size: 18px ; 
    color: #E5E7EB ;
    font-family: 'Lato', sans-serif ;
    margin-bottom: 20px ;
}

.button {
    background-color: #3882F6 ;
    font-size: 18px ; 
    color: #E5E7EB ;
    font-family: 'Lato', sans-serif ;
    font-weight: 600;
    padding: 10px 30px ;
    border-radius: 8px ;
    border: 0 ;
}



/* SECOND CONTENT */
.second-heading {
    font-family: 'Prata', serif ;
    font-size: 36px ;
    font-weight: 900 ;
    color: #1F2937 ;
    margin-bottom: 70px ;
    text-align: center ;
    margin-top: 100px ;
}

.info .sub-text {
    color: black ;
    text-align: center ;
}

.second-content {
    display: flex ; 
    flex-direction : row ;  
    gap : 50px ;
    padding-left: 150px ;
    padding-right: 150px ;
    justify-content: center ;
    margin-bottom: 150px ;
    flex-wrap: wrap ;
}

.image img {
    width: 250px ; 
    height: 250px ; 
    margin-bottom: 10px ;
    border: #3882F6 solid ;
    border-width: 7px ;
    border-radius: 20px ;
}



/* THIRD CONTENT */
.third-content {
    background-color: #E5E7EB ; 
    padding: 100px 300px ;
}

.quote {
    font-size: 36px ;
    font-style: italic ;
    font-weight: 100px ;
    color: #1F2937 ; 
    text-align: center ;
}

.person {
    text-align: right;
    font-size: 18px ;
    font-family: 'Lato', sans-serif ;
    font-weight: 600;
}


/* FOURTH CONTENT  */
.fourth-content {
    margin: 100px 250px ;
    background-color: #3882F6 ;
    padding: 50px 100px ;
    color: #E5E7EB ; 
    display: flex ; 
    justify-content: space-between;
    border-radius: 10px ;
}

.fourth-left .sub-text {
    margin-bottom: 0px ;
    font-weight: bolder ;
    font-size: 22px ;
}

.sub-text2 {
    font-size: 18px ; 
    color: #E5E7EB ;
    font-family: 'Lato', sans-serif ;
}

.fourth-button {
    background-color: #3882F6 ;
    font-size: 18px ; 
    color: #E5E7EB ;
    font-family: 'Lato', sans-serif ;
    font-weight: 600;
    padding: 10px 30px  ;
    border-radius: 10px ;
    border-color: #E5E7EB;
    border: solid ; 
}

.fifth-content {
    text-align: center ;
    padding: 40px  ; 
    background-color: #1F2937 ; 
    font-family: 'Lato', sans-serif ;
    color: #E5E7EB ;
}

